apiVersion: apps/v1
kind: Deployment
metadata:
  name: fakeshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fakeshop
  template:
    metadata:
      labels:
        app: fakeshop
    spec:
      containers:
        - name: fakeshop
          image: 'naelly/fake-shop-desafio:6.0.0'
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: fakeshop-secret
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 100Mi